<% if (!currentUser.membership) { %>
  <a href="<%= currentUser.url + '/upgrade' %>">
    <li class="header-link">Upgrade</li>
  </a>
  <% } %>
  <% if (currentUser.membership && !currentUser.admin) { %>
    <a href="<%= currentUser.url + '/admin' %>">
      <li class="header-link">Admin</li>
    </a>
    <span>Become and admin!</span>
  <% } %>
    
<h1>Messages</h1>
<% if (locals.message_list) { %>
    <ul class="messages">
      <% message_list.forEach(message => { %>
        <li class="message">
          <h3 class="message-title"><%= message.title %></h3>
          <p class="message-body"><%= message.body %></p>
          <div class="message-bottom-row">
            <p class="message-author">
              Author: 
              <%= currentUser && currentUser.membership ? 
                  message.user.firstName : '*****' 
              %>
            </p>
            <p class="message-date">
              <%= currentUser && currentUser.membership ? 
                  message.date : 'Date: *****' 
              %>
            </p>
          </div>
          <% if (currentUser && currentUser.admin) { %>
            <form action=<%= `/message/${message._id}/delete` %> method="POST">
              <button class="message-delete-btn">X</button>
            </form>
          <% } %>
        </li>
      <% }) %>
    </ul>
<% } %>